@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root{
    --color-primary: #7159c1ff;
    --gray: #dadada9e;
    --white: #ffffffff;
    --dark: #484537ff;
    --orange: #fd951fff;
    --green: #04d361ff;

}

* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 30px;
    background-color: var(--color-primary);
    text-align: center;

}

header div a {
    margin: 30px;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

header div a:hover {
    color:  var(--gray);
    transition: 500ms;
}

.logo-description {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
}

.logo {
    border-radius: 50%;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
    margin-top: 15px;
    margin-bottom: 5px;
}

.description {
    margin: auto;
    max-width: 350px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.list-tecnologies ul {
    margin: 30px;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.list-tecnologies ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--dark);
    border-radius: 5px;
    background-color: var(--gray);
    display: inline-block;
    padding: 10px;
    margin: 5px;;
}

.links {
    text-align: center;
    margin: 60px;
}

.links a {
    margin: 10px;
    padding: 5px;;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--dark);
    border-bottom-width: 2px ;
    border-bottom-style: solid ;
    border-bottom-color: var(--gray);
}

.links a:hover {
    color: var(--color-primary);
    border-bottom-color: var(--color-primary);
    transition: 200ms;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 1240px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    background-image: linear-gradient(150deg, var(--gray), rgb(252, 252, 252));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 600px;
}

.card:hover {
    transform: translateY(-7px);
    transition: 200ms;
    cursor: pointer;
}

.starter:hover {
    border-color: var(--color-primary);
}

.starter strong{
    color: var(--color-primary);
}

.lauchBase strong{
    color: var(--orange);
}

.goStack strong{
    color: var(--green);
}

.lauchBase:hover {
    border: solid 2px var(--orange);
}

.goStack:hover {
    border: solid 2px var(--green);
}

.span{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 3px solid;
    color: var(--color-primary);
    font-weight: bold;
    border-radius: 50%;
}

.curso1 {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.curso2 {
    color: var(--orange);
    border-color: var(--orange);
}

.curso3 {
    color: var(--green);
    border-color: var(--green);
}

.card img {
    margin: 50px auto;
}

.card p {
    max-width: 280px;
    color: var(--dark);
}

/* == MODAL == */

.modalOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    visibility: hidden;
}

.modalOverlay.active {
    visibility: visible;
}

.modal {
    position: relative;
    margin: 5vh auto;
    width: 90%;
    height: 90%;
    background-color: var(--white);
}

.modal .close_modal{
    position: absolute;
    color: var(--dark);
    right: 20px;
    top: 10px;
    cursor: pointer;

}

.info_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 50px ;
}

.info_card .card_price {
    color: var(--white);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.info_card .card_modules {
    background-color: var(--dark);
    color: var(--white);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.info_card .card_price_starter {
    background-color: var(--color-primary); 
}

.info_card .card_price_lauchBase {
    background-color: var(--orange); 
}

.info_card .card_price_goStack {
    background-color: var(--green); 
}

.modalOverlay iframe{
    scroll-behavior: initial;
    margin: auto;
    width: 100%;
    height: 100%;
}