<div class="item">
    <div>Avatar</div>
    <input 
        type="url" 
        name="avatar_url" 
        placeholder="URL"
        value="{{ member.avatar_url }}">
</div>

<div class="item">
    <div>Nome</div>
    <input
        type="name" 
        name="name" 
        value="{{ member.name }}">
</div>

<div class="item">
    <div>Email</div>
    <input
        type="email" 
        name="email" 
        value="{{ member.email }}">
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <input 
        type="date" 
        name="birth"
        value="{{ member.birth }}">
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="M" 
                {% if member.gender == 'M' %}
                checked
                {% endif %}>
                Masculino
        </span>
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="F" 
                {% if member.gender == 'F' %}
                checked
                {% endif %}>
                Feminino
        </span>
    </div>
</div>

<div class="item">
    <div>Tipo Sanguíneo</div> 
        <select name="blood">
            <option value="A1" 
            {% if member.blood == 'A1' %} selected {% endif %}>A+</option>
            <option value="A0"
            {% if member.blood == 'A0' %} selected {% endif %}>A-</option>
            <option value="AB1"
            {% if member.blood == 'AB1' %} selected {% endif %}>AB+</option>
            <option value="AB0"
            {% if member.blood == 'AB0' %} selected {% endif %}>AB-</option>
            <option value="O1"
            {% if member.blood == 'O1' %} selected {% endif %}>O+</option>
            <option value="O0"
            {% if member.blood == 'O0' %} selected {% endif %}>O-</option>
        </select>
</div>

<div class="item">
    <div>Peso(kg)</div>
    <input 
        type="text"
        name="weight"
        value="{{ member.weight }}">
</div>

<div class="item">
    <div>Altura(cm)</div>
    <input 
        type="text"
        name="height"
        value="{{ member.height }}">
</div>

<div class="item">
    <div>Instrutor</div>
        <select name="instructor_id">
        {% for instructor in instructorSelectOptions%} 
            <option value="{{ instructor.id }}"
            {% if member.instructor_id == instructor.id %} selected {% endif %}>{{ instructor.name }}</option>
        {% endfor %}     
        </select>
</div>


<button class="btn btn--salvar" type="submit">Salvar</button>