@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

body {
    background-color: white;
}

header {
    padding: 30px;
    background-color: rgb(113, 89, 193);
    text-align: center;

}

header div a {
    margin: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

header div a:hover {
    color:  rgba(235, 233, 233, 0.8);
    transition: 500ms;

}

