{% extends 'layout.njk' %}

{% block content %}
    <div class="card">
        <section class="image" style="background: url({{ instructor.avatar_url }}) center center;
        background-size: cover;" >
        </section>
        
        <section class="details">
            <form action="/instructors?_method=PUT" method="post">
                <h3>Detalhes</h3>

                {% include 'instructors/fields.njk'%}
                <input 
                    type="hidden" 
                    name="id"
                    value={{ instructor.id }}>
            </form>        

            <form action="/instructors/?_method=DELETE" method="post">
                <input 
                    type="hidden" 
                    name="id"
                    value={{ instructor.id }}>
                <button class="btn btn--deletar" type=>Deletar</button>
            </form>
        </section>
    </div>
{% endblock content %} 