@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #eeeeef;
    font-family: 'Roboto', sans-serif;
}


/* HEADER */

.header-content {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: black;
    box-sizing: border-box;
}

.header-content-text {
    color: #ffffff;
    text-decoration: none;
    position: relative;
}

.active {
    font-weight: bold;
}

.header-content a + a {
    margin-left: 30px;
}

.header-content-text span.material-icons {
    visibility: hidden;
}

.header-content-text:hover span::after {
    content: 'fitness_center';
    position: absolute;
    font-size: 15px;
    left: -20px;
    bottom: 2px;
    color: #ffffff;
    visibility: visible;
} 

.card, .card--list {
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    background-color:#ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
    animation: up 200ms ease;
}

.card--list {
    display: block;
}


@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
    }
}

/* DETAILS */

.details {
    padding: 32px;
}

.details h3 {
    text-transform: uppercase;
    font-size: 18px;
}

.item {
    padding: 16px 0;
    border-bottom: solid 1px #dddddd;
}
.item:last-child {
    border: none;
}

.item div:nth-child(1) {
    margin-bottom: 5px;
    color: #777;
}

.item div:nth-child(2) {
    font-size: 18px ;
    font-weight: bold;
    color: #555;
}

.item span {
    padding: 8px 16px;
    border-radius: 16px;
    color: #777;
    background-color: #ffff00;
    margin: 10px 5px 0 0;
    display: inline-block;
}

/* FORM */

input {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    outline: none;
    font-size: 18px ;
    font-weight: bold;
    color: #555;
}

input[type="radio"] {
    width: initial;
    margin-right: 8px;
}

input::placeholder {
    font-size: 16px;
    font-weight: lighter;
}

.button {
    background-color: #000000;
    width: 100%;
    display: block;
    padding: 8px 16px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    margin-top: 15px;
}

.btn--cancelar {
    background-color: #dddddd;
    color: #555555;
}

/* TABLE */

.table--container{
    padding: 40px;
    box-sizing: border-box;
}

.table--container table {
    width: 100%;
    border-spacing: 0;
}

.table--container thead tr {
    text-align: left;
}

.table--container th, td {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
}

.table--container tbody tr {
    font-weight: bold;
    color: #555;
}
.table--container tbody tr:last-child td {
    border-bottom: none;
}

.table--container tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
    font-size: 18px ;
    font-weight: bold;
    color: #555;
}

.avatar--list {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border: 2px solid #ffffff; 
    box-shadow: 2px 2px 8px -4px #7e7e7e ;
    border-radius: 50%;
}

.services {
    padding: 8px 16px;
    border-radius: 16px;
    color: #777;
    font-weight: bold;
    background-color: #ffff00;
}


.btn {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    width: 100%;
}

.btn--ver {
    background-color: rgb(0, 255, 64);
    color: white;
    font-weight: bold;
}

.btn--novo {
    display: inline-block;
    background-color: rgb(0, 255, 64);
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

.btn--deletar {
    margin-top: 10px;
    background-color: lightcoral;
    color: white;
    font-size: 18px;
}

.btn--salvar {
    margin-top: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
}

/* FILTER */

.table--container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    align-items: center;
    margin: 0;
}

.table--container .header form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 4px;
}

.table--container .header form input {
    border: solid 1px #d9d9d9;
    font-weight: 500;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 4px;
}

.table--container .header form button {
    font-size: 16px;
}
