{% extends 'layout.njk' %}

{% block content %}

    <section class="content">
        <div class="card starter">
            <span class="span curso1">01</span>
            <img src="./assets/images/starter.png" alt="logotipo e título" class="card__logo">
            <p class="card__"><strong>Torne-se um programador desejado</strong> no mercado com esses cursos gratuitos</p>
        </div>

        <div class="card lauchBase">
            <span class="span curso2">02</span>
            <img src="./assets/images/lauchBase.png" alt="logotipo e título" class="card__logo">
            <p class="card__"><strong>Domine programação do zero</strong> e tenha acesso às melhores oportunidades do mercado</p>
        </div>

        <div class="card goStack">
            <span class="span curso3">03</span>
            <img src="./assets/images/goStack.png" alt="logotipo e título" class="card__logo">
            <p class="card__"><strong>Treinamento imersivo</strong> nas tecnologias mais modernas de desenvolvimento web e mobile</p>
            
        </div>
    </section>

    <!-- <div class="modalOverlay">
        <div class="modal">

        </div>
    </div> -->
    
    <script src="./scripts.js"></script>

{% endblock content %}

